/**
Reseteo de propiedades
 */
/*********************************************/

*{
    margin: 0;
    padding: 0;
    border: 0;
}
/*********************************************/
/*BODY*/
body{
    position: relative;
    max-width: 100%;
    width: 762px;
    background: rgb(2,0,36);
    margin: 0 auto;
    background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 19%, rgba(0,212,255,1) 100%);
}
/*********************************************/
/*header*/
header{
    position: relative;
    float: left;
    max-width: 100%;
    color: white;
    width: 100%;
    margin: 0 auto;
}

header img{
    float: right;
}
/*********************************************/
/*nav*/
nav {
    position: relative;
    float: left;
    color: white;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

nav ul {
    display: inline-block;
    float: left;
    width: 100%;
}

nav li {
    float: left;
    text-align: center;
    list-style: none;
    padding: 5px;
}

nav li:last-child{
    float: right;
}


/*********************************************/
/*main*/
.contenedorPrincipal{
    background-color: white;
    position: relative;
    float: left;
    margin: 0 auto;
    width: 762px;



}

main {
    position: relative;
    float: left;
    max-width: 500px;

}

.cabecera img{
    position: relative;
    float: left;

}

.cabecera h2{
    position: absolute;
    top: 10%;
    width: 100%;

}

.artPrincipal{
    color: blue;
    position: relative;
    float: left;
    width: 500px;
}

.artPrincipal p {
    background-color: #88ADE8;

}



.restoArticulos div{
    position: relative;
    float: left;
    width: 200px;


}



.conjuntoImagenes .imagen{
    width: 100px;
    margin: 5px;
    position:  relative;


}
/*********************************************/

aside{
    position: relative;
    float: right;
    background-color: white;
    width: 200px;

}

aside section ul{
    list-style: none;
}

/*********************************************/
/*footer*/
footer{
    position: relative;
    float: right;
    background-color: mediumblue;
    width: 100%;
}
